<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel=stylesheet" href="/style.css">;
</head>
<body>
    <h1>Our feelings</h1>
<table>
    <tr>
        <th>Emoption</th>
        <th>Who</th>
        <th>Why</th>
        <th>How</th>
        <th>Crying?</th>
    </tr>
    <tr th:each="feeling : ${feelings}">
        <td th:text="${feeling.feeling}">Emotion</td>
        <td th:text="${feeling.personFeelingIt}">Who</td>
        <td th:text="${feeling.reason}">Why</td>
        <td th:text="${feeling.level}">How</td>
        <td th:text="${feeling.causesCrying}">Crying?</td>
    </tr>
</table>
</body>
</html>