<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
<main>
    <form action="/albums" method="GET">
        <input type="submit" value="Back to albums list">
    </form>
    <div>
        <p th:text="${album.title}">title</p>
        <p th:text="'by: ' + ${album.artist}">artist</p>
        <p th:text="'songs: ' + ${album.songcount}">song count</p>
        <p th:text="'length: ' + ${album.length / 60}">length</p>
        <p th:src="${album.imageUrl}" alt="test">
    </div>
        <h1> Want to add a song to the album?</h1>
        <form action="/song" method="POST">
            <input type="hidden" name="albumId" th:value="${album.getId()}">
            Title: <input type="text" name="title">
            Length: <input type="number" name="length">
            Track Number: <input type="number" name="trackNumber">
            <input type="submit" value="add song">
        </form>
</main>
</body>
</html>